In [90]:
import pandas as pd
import math

In [ ]:
!wget https://github.com/nehanawar025/Statistics_with_Python/raw/main/Descriptive_Statistics/data.csv

In [ ]:
df = pd.read_csv('data.csv')
df

In [37]:
n_arr = list(df.age.values)

In [38]:
n = len(n_arr)
n

20

### **Mean**
1.   Adding up all the values
2.   Then divided it by the total number of values

In [39]:
n_mean = sum(n_arr)/n
n_mean

32.0

### **Mode**

Determined which value appears most frequently in the dataset.

In [43]:
countmap = {}
for value in n_arr:
  if value in countmap:
    countmap[value] += 1
  else:
    countmap[value] = 1

print(countmap.items())
max_cnt = 0
max_key = 0
for value , val_cnt in countmap.items():
  if val_cnt > max_cnt:
    max_cnt = val_cnt
    max_key = value

print('Mode=>',max_key)

dict_items([(25, 1), (32, 1), (41, 1), (28, 1), (36, 1), (22, 1), (29, 1), (35, 1), (27, 1), (44, 1), (31, 1), (38, 1), (26, 1), (33, 1), (40, 1), (24, 1), (30, 1), (37, 1), (23, 1), (39, 1)])
Mode=> 25

In [42]:
countmap = {}
for value in [1,4,5,2,1,6,2,4,5,1,7,2,4,5,1,1]:
  if value in countmap:
    countmap[value] += 1
  else:
    countmap[value] = 1

print(countmap.items())
max_cnt = 0
max_key = 0
for value , val_cnt in countmap.items():
  if val_cnt > max_cnt:
    max_cnt = val_cnt
    max_key = value

print('Mode=>',max_key)

dict_items([(1, 5), (4, 3), (5, 3), (2, 3), (6, 1), (7, 1)])
Mode=> 1

### **Median**

1.   Arranging the values in ascending order
2.   Finding the middle value. If there are an even number of values, take the average of the two middle values.

**Ps**. round() function take nearest 'even' integer instead of nearest integer.

In [85]:
n_arr2 = [9,4,7,3,8,1,2,5,7,9,1,0,2,8,9,4,3,9,10,11]
n2 = len(n_arr2)
n_arr2.sort()
n_arr2

[0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 7, 7, 8, 8, 9, 9, 9, 9, 10, 11]

In [73]:
print(round((3+4)/2,0))
print(round((4+5)/2, 0))
print(int(round((4+5)/2)))

4.0
4.0
4

In [89]:
if n2 % 2 != 0:
  # med = n_arr2[round((n2 / 2))]
  med = round((n2 / 2))-1
  n_med = n_arr2[med]

else:
  med = ( ((n2/2)-1) + (n2/2) ) / 2 #8.5
  before_dec = int(med)   #8

  if before_dec % 2 == 0:
    med = math.ceil(med)   #9
  else:
    med = round(med)

  n_med = n_arr2[med]


print("Median=>",n_med)

Median=> 7