<a href="https://colab.research.google.com/github/nehanawar025/Statistics_with_Python/blob/main/Mean_Mode_Median.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
!wget https://github.com/nehanawar025/Statistics_with_Python/raw/main/Descriptive_Statistics/data.csv

In [3]:
df = pd.read_csv('data.csv')

In [7]:
n_arr = df.Value.to_list()
n_arr

[5, 7, 6, 8, 7, 9, 5, 8, 6, 7]

In [22]:
n = len(n_arr)
n

10

### **Mean**
1.   Adding up all the values
2.   Then divided it by the total number of values

In [23]:
n_mean = sum(n_arr)/n
n_mean

6.8

### **Mode**

Determined which value appears most frequently in the dataset.

In [65]:
countmap = {}
for value in n_arr:
  if value in countmap:
    countmap[value] += 1
  else:
    countmap[value] = 1


max_cnt = 0
max_key = 0
for value , val_cnt in countmap.items():
  if val_cnt > max_cnt:
    max_cnt = val_cnt
    max_key = value

print('Mode=>',max_key)

Mode=> 7

### **Median**

1.   Arranging the values in ascending order
2.   Finding the middle value. If there are an even number of values, take the average of the two middle values.

In [51]:
n_arr2 = [9,4,7,3,8,1,2,5,7,9,1,0,3,4,5,2,8,9,5,4,3,9]
n2 = len(n_arr2)
n_arr2.sort()
n_arr2

[0, 1, 1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5, 5, 7, 7, 8, 8, 9, 9, 9, 9]

In [64]:
if n2 % 2 != 0:
  med = n_arr2[n2 // 2 - 1]
else:
  med = (n_arr2[n2//2-1] + n_arr2[(n2 // 2)])//2

print("Median=>",med)

Median=> 4